
html{scroll-behavior:smooth;}


.dynamic_index_root {
  position: fixed;
  margin: auto;
  right: 0;
  top: 80px;
  bottom: 0;
  /* max-height: 80%; */
  display: flex;
  overflow: hidden;
  background-color: #fdfdfd;
  opacity: 0.8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (max-width:1380px){
  .dynamic_index_root {
    display:none;
  }
}
.dynamic_index_ul {
  width: 20px;
  z-index: 1200;
  padding: 0px;
  overflow: hidden;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
}

.dynamic_index_ul_expand {
  width: 200px;
}

.dynamic_index_li {
  display: flex;
  line-height: 24px;
  align-items: center;
}

.dynamic_index_li a{
  display: inline-block;
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  opacity: 0;
  color: #8a8a8a;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.dynamic_index_li a:hover {
  color: #000000;
}

.dynamic_index_li a:active {
  color: #8a8a8a;
}

.dynamic_index_li:before {
  content: "";
  flex: 0 0 auto;
  -webkit-box-flex: 0 0 auto;
  height: 2px;
  width: 15px;
  margin-left: 5px;
  background: #d8d8d8;
  position: absolute;
}

.dynamic_index_li_expand {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.dynamic_index_ul_expand a{
  opacity: 1;
  transition:opacity 0.35s;
  -webkit-transition: opacity 0.35s; 
}

.dynamic_index_ul_expand:before {
  display: none;
}

.dynamic_index_li_secondleve {
  padding-left: 15px;
}

.dynamic_index_li_selected:before {
  height: 2px;
  width: 20px;
  margin-left: 0;
  background: #000000;
}

.dynamic_index_li_selected a{
  color: #000000;
}


.cus_h {
  position: relative;
}

.cus_h:before {
  content: '';
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}