$highlight-blue: #47ACDD;
@mixin dialog-shadow {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12), 0px -1px 3px 0px rgba(0,0,0,0.12);
  box-sizing: border-box;
}

.cust_content {
  margin-left: 0 auto;
}

.cust_content div:first-child {
  flex: 0 0 100%;
}

@media (max-width:1660px){
  .cust_content {
    margin-left: 260px;
  }
}

@media (max-width:960px){
  .cust_content {
    margin-left: 0px;
  }
}

.cus_cover {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 2000;
}

.cust_dialog_box {
  position: absolute;
  border-radius: 4px;
  @include dialog-shadow;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  background-color: #fff;
  visibility: hidden;
}

.cust_dialog_box{
  ul{
    padding: 0 15px;
    opacity: 0;
    li{
      text-align: center;
      padding: 0 15px;
      cursor:pointer;
      &:hover {
        color: $highlight-blue;
      }
    }
  }
}

.cust_dialog_box_expand {
  visibility: visible;
  /* opacity: 1; */
}

.cust_dialog_box_expand {
  ul{
    opacity: 1;
    transition:opacity 0.35s, visibility .35s;
    -webkit-transition: opacity 0.35, visibility .35s;
  }
}

.cust_search_box {
  height: 0px;
  width: 100%;
  background-color: #fcfcfc;
  border-top: #eee solid 1px;
  visibility: hidden;
}

.cust_search_box_expand {
  visibility: visible;
  height: 50px;
  transition: 0.35s;
  -webkit-transition: 0.35;
}

.cust_search_box_form {
  padding: 0 30px;
  width:100%;
  height:100%;
  opacity: 0;
}

.cust_search_box_form_expand {
  opacity: 1;
  transition:opacity 0.35s;
  -webkit-transition: opacity 0.35;
}
.cust_search_box_form {
  input{
    height: 40px;
    width: 80%;
    background-color: transparent;
    border: none;
    padding: 0 2px;
    border-bottom: $highlight-blue solid 2px;
    font-size: 15.84px;
    outline: none;
    flex-grow: 1;
    &:hover {
      background-color: transparent;
      border: none;
      border-bottom: $highlight-blue solid 2px;
    };
    &:focus{
      background-color: transparent;
      border-bottom: $highlight-blue solid 2px;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
    }
  }
}


.cust_search_box_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.cust_header_license {
  padding: 4px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fdd000;
  line-height: 20px;
}

.cust_arrow_up{
  font-size: 0;
  line-height: 0;
  border-width: 6px;
  border-color: rgb(129, 126, 126);
  border-top-width: 0;
  border-style: dashed;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
} 

.cust_arrow_down{
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin-left: 6px;
  border-width: 5px;
  border-color: rgb(129, 126, 126);
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  transition: transform 0.2s, webkit-transform 0.2s;
  -webkit-transition: transform 0.2s, webkit-transform 0.2s;
}

.cust_arrow_up{
  transform:rotate(-180deg);
  -ms-transform:rotate(-180deg); /* Internet Explorer */
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Safari 和 Chrome */
  -o-transform:rotate(-180deg); /* Opera */
}

.cust_dir_menu {
  display: inline-block;
}

@media (max-width:1250px){
  .cust_dir_menu {
      display: none;
    }
}